[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
build_waterpaint = '''
    python scripts/save_model.py
    --out_path='/Volumes/T5/Workspace/neural_camera/assets/waterpaint2.tflite'
    --ckpt ckpts/waterpaint
'''
build_flower = '''
    python scripts/save_model.py
    --out_path='/Volumes/T5/Workspace/neural_camera/assets/flower.tflite'
    --ckpt ckpts/flower
'''
build_xray = '''
    python scripts/save_model.py
    --out_path='/Volumes/T5/Workspace/neural_camera/assets/xray.tflite'
    --ckpt ckpts/xray
'''
build_test = '''
    python scripts/save_model.py
    --out_path='/Volumes/T5/Workspace/neural_camera/assets/test.tflite'
'''
build_custom = '''
    python scripts/save_model.py
    --out_path='/Volumes/T5/Workspace/neural_camera/assets/waterpaint6.tflite'
    --ckpt ckpts/waterpaint6
'''
